APP_ENV=dev|prod
APP_SECRET=your_app_secret_here
DATABASE_URL="postgresql://your_user:your_password@postgres:5432/your_db?serverVersion=16&charset=utf8"
MESSENGER_TRANSPORT_DSN=amqp://user:password@rabbitmq:5672/%2f/messages
JWT_SECRET_KEY=path/to/private.pem
JWT_PUBLIC_KEY=path/to/public.pem
JWT_PASSPHRASE=your_jwt_passphrase_here
JWT_TOKEN_TTL=ttl_in_seconds
JWT_REFRESH_TOKEN_TTL=ttl_in_seconds
MAILER_DSN=smtp://user:password@host:port?encryption=tls
MAILER_FROM_ADDRESS=example@example.com
CREDIT_BUREAU_SIMULATION_WEBHOOK_URL=https://your-webhook-endpoint
CREDIT_BUREAU_WEBHOOK_SECRET=your_webhook_secret_here